.container {
  background: #a9203c;
  width: 155px;
  height: 240px;
  border-radius: 5px;
}

.logo {
  height: 12px;
  margin: 5px;
}

button {
  margin: 0 2px;
}

.numberButtons {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid blue;
  height: 100px;
}

.numberButton {
  background: #0f4173;
  color: white;
  border-radius: 50px;
  height: 30px;
  width: 30px;
}

.operatorButton {
  background: #007191;
  color: white;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
}

.specialButton {
  background: #08609c;
  color: white;
  border-radius: 50px;
  height: 30px;
  width: 30px;
}
